.custom-card {
  background: #373747;
  border: 1px #000000;
  border-radius: 10px;
  width: 100% !important;
  margin-top: 20px;
  box-shadow: 1px 1px 9px 2px #000000;
  -webkit-box-shadow: 1px 1px 9px 2px #000000;
  -moz-box-shadow: 1px 1px 9px 2px #000000;
}

.input-label {
  margin: auto 25px auto 0;
}

span.ant-select-selection-placeholder {
  width: 150px;
}
.custom-card-child {
  background: #373747;
  border: 1px #373747;
  border-radius: 10px;
  margin-top: 9px;
  width: 100% !important;
  box-shadow: 0 1px 1px 2px #545457;
  -webkit-box-shadow: 0 1px 1px 2px #545457;
  -moz-box-shadow: 0 1px 1px 2px #545457;
}

.btn-actns {
  display: flex;
  justify-content: space-between;
}
.fields {
  display: flex;
  margin-left: 20px;
}
.btn-actns div {
  margin-left: auto;
}
.input-class div {
  margin-bottom: 0 !important;
}
.fields-wrapper {
  display: flex;
}
.ant-card-body {
  padding: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
